@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-image: linear-gradient(to bottom, #c3c3f7 0%, #d4a1cf 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 124px;
  font-family: 'Ubuntu', sans-serif;
}

.dropdown-content a {
  float: none;
  color: white;
  background-color: #7EA7E6;
  padding: 12px 16px;
  margin-left: 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color:  #005086;
}

a {
  text-decoration: none;
  color: #005086;
}

a:hover {
  color: white;
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: flex-end;
  background-color: #7EA7E6;
}

.navButton, .dropbtn {
  font-size: 18px;
  background-color:white;
  color: black;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 6px;
  font-family: 'Ubuntu', sans-serif;
}

.navButton:hover, .dropbtn:hover {
  border-color: #005086;
  background-color: #005086;
  color: white;
  transform: scale(1.1);
}

.dropbtn {
  font-size: 18px;
  background-color:white;
  color: #005086;
  margin-left: 10px;
  border: 2px solid white;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 7px;
  font-family: 'Ubuntu', sans-serif;
}

.dropbtn:hover {
  border-color: #005086;
  background-color: #005086;
  color: white;
  transform: scale(1.1);
}

.logo {
  height: 100px;
  margin-right: 20.5%;
  padding: 5px;
}

.creatorButton {
  margin-right: 1%;
}

.show {
  display: block;
}

#header {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: white;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
}

.motivationContainer, .motivationAuthor, .motivationButton {
  display: flex;
  justify-content: center;
}

.motivationButton {
  margin-top: 10px;
}

.inspiration {
  margin-left: 200px;
  margin-right: 200px;
  padding: 20px;
  border: 5px dotted white;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  font-family: 'Archivo Narrow', sans-serif;
}

.donate-container {
  display: none;
}

.donate {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.subheading {
  text-align: center;
  color: #7437A4;
  margin-bottom: 8px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.subsubheading {
  text-align: center;
  color:#7437A4;
  margin-bottom: 5px;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

h4, h5, h6, p {
  font-family: 'Oxygen', sans-serif;
}

.clicked-hunger-container, .clicked-plasma-container,  .clicked-blood-container, .clicked-homeless-container, .clicked-debt-container, .clicked-dwb-container, .clicked-maskclip-container, .clicked-mask-container, .clicked-dr-container, .clicked-rwcf-container, .clicked-mbone-container, .clicked-mbtwo-container, .clicked-mbthree-container, .clicked-mbfour-container, .clicked-mbfive-container, .clicked-mbsix-container {
  display: block;
  font-size: 19px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

.donate-button {
  margin: 20px;
  padding: 10px;
  color: #8675a9;
  border-color: transparent;
  box-shadow: 10px 10px;
  background-color: white;
  font-size: 20px;
  border: 2px solid #8675a9;
  font-family: 'Ubuntu', sans-serif;
}

.donate-button:hover {
 color: white;
 background-color: #CC99CC;
 border:solid transparent;
}

.person {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
  width: 90%;
  padding-top: 4.5%;
}

.characterNames {
  margin-left: 47%;
  width: 20%;
}

.column {
  float: left;
  width: 33.3%;
  padding: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 5px;
  background-color: white;
  border: 3px solid white;
  border-radius: 5px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.row {
  display: flex;
  justify-content: center;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.fitnessContainer, .fitnessLinksContainer, .fitnessButton,.activitiesContainer, .activitiesButton,.gamesContainer, .gamesButton,.breakfastContainer, .breakfastLinksContainer, .breakfastButton,.appetizersContainer, .appetizersLinksContainer, .appetizersButton, .entreesContainer, .entreesLinksContainer, .entreesButton, .dessertsContainer, .dessertsLinksContainer, .dessertsButton, .drinksContainer, .drinksLinksContainer, .drinksButton, .musicContainer, .musicLinksContainer, .musicButton, .languagesContainer, .languagesLinksContainer, .languagesButton, .compLanguagesContainer,  .compLanguagesButton {
  display: flex;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  color: #8675a9;
} 

.parentSports, .parentActivities, .parentFitness, .parentLanguage {
  display: flex;
  justify-content: center;
}

.fitness, .activities, .games, .food, .music, .languages, .compLanguages {
  border: 10px dotted white;
  background-color: #C0DFEB;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
}

.chatbox {
  display: flex;
  justify-content: center;
}

.clickButton {
	background:linear-gradient(to bottom, #eec1f5 5%, #c478c4 100%);
	background-color:#eec1f5;
	border-radius:19px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	font-weight:bold;
	padding:14px 14px;
	text-decoration:none;
}
.clickButton:hover {
	background:linear-gradient(to bottom, #c478c4 5%, #eec1f5 100%);
	background-color:#c478c4;
}
.clickButton:active {
	position:relative;
	top:1px;
}

.front {
  color: white;
}

.frontText {
  font-size: 20px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}

.calenderBio {
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}

.frontCreators {
  font-size: 18px;
  margin-top: 5px;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}

.bio {
  font-family: 'Ubuntu', sans-serif;
}

.download {
  font-size: 20px;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.name {
  font-family: 'Montserrat', sans-serif;
}
